<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
  <!--<header th:fragment="entete">
    <h1>ENI-Enchères</h1>
    <nav>
      <span th:if="${#httpServletRequest.remoteUser != null}">
        Bonjour <strong th:text="${#httpServletRequest.remoteUser}">Utilisateur</strong>
        <a href="/logout">Déconnexion</a>
      </span>
      <span th:if="${#httpServletRequest.remoteUser == null}">
        <a href="/inscription">S'inscrire</a> - <a href="/connexion">Se connecter</a>
      </span>
    </nav>
  </header>-->
  
  <header th:fragment="entete">
  <h1>ENI-Enchères</h1>
  <nav>
    <span th:if="${user != null}">
      Bonjour <strong th:text="${user}">Utilisateur</strong>
      <a href="/logout">Déconnexion</a>
    </span>
    <span th:if="${user == null}">
      <a href="/creer-compte">S'inscrire</a> - <a href="/connexion">Se connecter</a>
    </span>
  </nav>
</header>
  
</body>
</html>
