@charset "UTF-8";

.error {
  color: red;
  background-color: #ffe5e5;
  padding: 0.5rem;
  border: 1px solid red;
  border-radius: 4px;
  margin-top: 0.5rem;
}

.success {
  color: green;
  background-color: #e5ffe5;
  padding: 0.5rem;
  border: 1px solid green;
  border-radius: 4px;
  margin-top: 0.5rem;
}
