<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{fragments/fragment-head :: head('Connexion - ENI-Enchères')}"></head>
  <body>

	<div class="container">
		<h1>Détail de l'enchère</h1>

		<div class="article">
			<div class="image"></div>

			<div class="infos">
				<p>
					<strong>Nom :</strong> PC Gamer pour travailler
				</p>
				<p>
					<strong>Description :</strong> Très bon PC avec RAM 32 Go, SSD 1To
				</p>
				<p>
					<strong>Catégorie :</strong> Informatique
				</p>
				<p>
					<strong>Début :</strong> 01/08/2018
				</p>
				<p>
					<strong>Fin :</strong> 10/08/2018
				</p>
				<p>
					<strong>Mise à prix :</strong> 100 points
				</p>
				<p>
					<strong>Meilleure offre :</strong> 210 points
				</p>
				<p>
					<strong>Vendeur :</strong> jojo44
				</p>
				<p>
					<strong>Retrait :</strong> 10 allée des Alouettes, 44800 Saint
					Herblain
				</p>
			</div>
		</div>

		<form class="form-enchere" action="/encherir" method="post">
			<label for="montant">Ma proposition :</label> <input type="number"
				id="montant" name="montant" placeholder="En points" required />

			<button type="submit">Enchérir</button>
		</form>

		<a href="view-achat-enchere.html" class="btn-retour">Retour</a>
	</div>
</body>
</html>
