<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

  <head th:replace="~{fragments/fragment-head :: head('Connexion - ENI-Enchères')}"></head>
  <body>

<body>
  <div class="container">
    <h1>Mon profil</h1>

    <div class="info-profil">
      <p><strong>Pseudo :</strong> jojo44</p>
      <p><strong>Nom :</strong> Dupont</p>
      <p><strong>Prénom :</strong> Jean</p>
      <p><strong>Email :</strong> jojo44@example.com</p>
      <p><strong>Téléphone :</strong> 0601020304</p>
      <p><strong>Adresse :</strong> 10 allée des Alouettes<br>44800 Saint-Herblain</p>
      <p><strong>Crédit :</strong> 400 points</p>
    </div>

    <div class="buttons">
      <a href="view-modifier-profil-enchere.html" class="btn">Modifier</a>
      <a href="accueil.html" class="btn secondary">Retour</a>
    </div>
  </div>
</body>
</html>
